.auth-layout {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;


    .auth-form {
        background-color: white    
       
    }
     .ant-input {
     &:focus, :hover, :active {
        border: 1px solid $primary-color;
     }
    }
    .auth-form, .auth-image {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0 60px;
        flex-direction: column;
        height: 100%;
        .input-email, .input-password {
            height: 50px;
        }

        .auth-btn {
            width: 100%;
            background-color: $primary-color;
            height: 50px;
            &:hover, :focus {
                background-color: darken($primary-color, 10%);
            }
        }
    }
    .auth-form-form {
        width: 100%;
        flex-direction: column;
        .forgot-pwd-text {
            font-weight: 600;
            margin: 20px 0;
            color: $primary-color;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

}

 @media (max-width: $breakpoint-sm) {
   .auth-layout {
     .auth-image {
     display: none;
 }
 .auth-form {
     width: 100%;
     p {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;
        color: $primary-blue;
        font-size: 18px;
     }
 }
   }
 }