
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@mixin work-sans() {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; 

  @media (max-width: 768px) {
    font-size: 90%; 
  }
}


body {
    @include work-sans;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

input, button, select, textarea, table {
  font-family: inherit;
}

.ant-dropdown-menu-item{
  font-family: "Work Sans", sans-serif;;

}

.ant-btn {
  font-family: "Work Sans", sans-serif;
}

.ant-table-thead .ant-table-cell  {
 font-family: "Work Sans", sans-serif;
}

.ant-table-tbody .ant-table-cell {
   font-family: "Work Sans", sans-serif;
}

.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-select-selector {
  font-family: "Work Sans", sans-serif;
}

.ant-form-item, .ant-input, .ant-select, .ant-date, .ant-form-item-label > label, .ant-picker-input, .ant-list-item  {
  font-family: "Work Sans", sans-serif;
}

.ant-spin-dot-item {
    background-color: $primary-color;
    color: $primary-color
}

